* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.itemListContainer {
  display: flex;
  margin-top: 200px;
  height: 100vh;
  color: rgba(14, 13, 13, 0.808);
  font-size: 18px;
  text-align: center;
  width: 100%;

}

