.tarjetaContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.tarjeta {
  width: 250px;
  height: 380px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
  background-color: #f2f2f2;
  margin-right: 24px;
  margin-bottom: 24px;
}

.tarjeta .imgProducto {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 12px;
}

.tarjeta h3 {
  margin-bottom: 8px;
  font-size: 20px;
  color: #333;
}

.tarjeta p {
  margin-bottom: 8px;
  color: #666;
}

.tarjeta .btn {
  background-color: #3498db;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.tarjeta .btn:hover {
  background-color: #217dbb;
}

